# Firebase Configuration
FIREBASE_PROJECT_ID=your-project-id

# FCM Service Account Keys
FCM_PRIVATE_KEY_ID=your-private-key-id
FCM_PRIVATE_KEY="your-private-key"
FCM_CLIENT_EMAIL=your-client-email
FCM_CLIENT_ID=your-client-id

# Cloudinary Configuration
CLOUDINARY_URL=https://api.cloudinary.com/v1_1/your-cloud-name/image/upload
CLOUDINARY_UPLOAD_PRESET=your-preset
